.background-image {
  background-image: url('/Users/bogdan.bortosu/Library/CloudStorage/OneDrive-Raboweb/angular/insights-app-FE/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

