<!--<a routerLink = "/insights">Insights</a>
<br><a routerLink = "/transactions">Transactions</a>
<br><a routerLink = "/account-selector">Select another account</a>
<br><a routerLink = "/send-money">Send money</a>
<br><a routerLink = "/log-out">Log out</a>


<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu> -->

<app-navigation></app-navigation>
<router-outlet></router-outlet>



