.insights-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: darkgrey;
}

.account-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form {
  width: 100%;
}

.toogle-item {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chart {
  margin-top: 20px;
}

.insights-date {
  padding-top: 10px;
  margin-right: 10px;
  font-style: italic;

}

.value-position1 {
  float: right;
}

.table21 {
  width: 100%;
}

td{
  width: 175px;
}

.amount{
  padding-left: 50%;
}


