.btn-div .submit-btn {
  width: 15rem;
  padding: 6px;
  font-size: 14px;
  background: orange;
  outline: none;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}

.formulakr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-money-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.form-size{
  width: 100%;
}

.send-form {
  align-content: center !important;
}

.balance {
  text-align: center;
  font-style: italic;
}

.emptyFields {
  color: red;
  margin-top: 10px;
}

.noBalance {
  color: red;
  margin-top: 10px;
}

.IBANformat {
  color: red;
  margin-top: 10px;
}

.status {
  color: red;
  margin-top: 10px;
}

body {
  background-color: darkgrey;
}

.example-card {
  max-width: 400px;
  margin-bottom: 20px;

}

.text-size{

  font-style: italic;
}
