.center-accordion {

  width: 100%;
}

.transactions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: darkgrey;
}

.account-selector {
  display: flex;
  justify-content: center;
  align-items: center;

}

.form {
  width: 100%;
}

table {
  border: 1px black solid;
  margin-top: 20px;
  margin-left: 10px;
}

div {
  margin-top: 0px;
}

nbody {
  background-color: #d2d2ce;
}

.mat-toolbar {
  background-color: rgb(58, 58, 58);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70vh;

}

.transactions-date {
  padding-top: 10px;
  margin-right: 10px;
  font-style: italic;
}

.balance {
  text-align: center;
  font-style: italic;
}

body {
  background-color: darkgrey;
}

.example-card {
  max-width: 400px;
  margin-bottom: 20px;

}

.text-size{
  padding-left: 15%;
  font-style: italic;
}

