.container {

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
}

.menu-container {
  background-color: orange;
  color: white !important;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  width: 90%;
  text-align: center;

}

.menu-item {
  padding: 18px 4% 2px 4%;
  margin-left: 8%;
  color: white !important;
  text-decoration: none;

}

.active {
  background-color: rosybrown;

}

